Repository pedaling/class101-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --loglevel warn, tslint --fix, eslint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,css,scss,md}": [
      "prettier --write --loglevel warn",
      "git add"
    ],
    "*.{ts,tsx}": [
      "tslint --fix",
      "eslint --fix",
      "git add"
    ]
}

chore: lint-staged 설정을 별도의 .lintstagedrc 파일로 분리한다
  .lintstagedrc
  package.json
Due: none

chore: husky 설정을 별도의 .huskyrc 파일로 분리한다
  .huskyrc
  package.json
Due: none

chore: size-limit 설정을 별도의 .size-limit.json 파일로 분리한다
  .size-limit.json
  package.json
Due: none

chore: size-limit-action을 적용한다
  .github/workflows/size-limit.yml
Due: none

chore: size-limit를 적용한다
  package.json
  yarn.lock
Due: none

test: size-bundle 작동 테스트
  src/components/Button/AnchorButton/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

chore: size-limit 적용할 파일을 glob 패턴을 사용해 찾지 않고 직접 지정한다
  .size-limit.json
Due: none

feat(ui): export default 삭제
  src/formInputs/DatePicker/MonthSelector/Month/index.tsx
  src/formInputs/DatePicker/MonthSelector/index.tsx
  src/formInputs/DatePicker/TimeSelector/Input/index.tsx
  src/formInputs/DatePicker/TimeSelector/index.tsx
  src/formInputs/DatePicker/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

feat(ui): DatePicker에 time을 추가한다.
  docs/formInputs/DatePicker.mdx
  src/formInputs/DatePicker/MonthCalendar/Day/index.tsx
  src/formInputs/DatePicker/MonthSelector/Month/index.tsx
  src/formInputs/DatePicker/MonthSelector/index.tsx
  src/formInputs/DatePicker/TimeSelector/Input/index.tsx
  src/formInputs/DatePicker/TimeSelector/index.tsx
  src/formInputs/DatePicker/index.tsx
  src/formInputs/DatePicker/interface.ts
  src/formInputs/DatePicker/locales/en_US.ts
  src/formInputs/DatePicker/locales/ko_KR.ts
  src/utils/padNumber.ts
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

feat(web): clap, clapOutilne, fullScreenExit, fullScreen 아이콘을 변경한다
  src/Icon/generated/Clap.tsx
  src/Icon/generated/ClapOutline.tsx
  src/Icon/generated/FullScreen.tsx
  src/Icon/generated/FullScreenExit.tsx
  src/Icon/svgs/Clap.svg
  src/Icon/svgs/ClapOutline.svg
  src/Icon/svgs/FullScreen.svg
  src/Icon/svgs/FullScreenExit.svg
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix(ui): 리뷰 반영
  src/formInputs/DatePicker/MonthSelector/Month/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

feat(ui): DatePicker에 time을 추가한다. (#259)
  docs/formInputs/DatePicker.mdx
  src/formInputs/DatePicker/MonthCalendar/Day/index.tsx
  src/formInputs/DatePicker/MonthSelector/Month/index.tsx
  src/formInputs/DatePicker/MonthSelector/index.tsx
  src/formInputs/DatePicker/TimeSelector/Input/index.tsx
  src/formInputs/DatePicker/TimeSelector/index.tsx
  src/formInputs/DatePicker/index.tsx
  src/formInputs/DatePicker/interface.ts
  src/formInputs/DatePicker/locales/en_US.ts
  src/formInputs/DatePicker/locales/ko_KR.ts
  src/utils/padNumber.ts
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

chore(ui): v9.0.0-rc19
  package.json
Due: none

fix(ui): DatePicker time이 잘못 표시되는 오류를 수정한다
  src/formInputs/DatePicker/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix(ui): DatePicker time이 잘못 표시되는 오류를 수정한다 (#264)
  src/formInputs/DatePicker/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

chore(ui): v9.0.0-rc20
  package.json
Due: none

fix: 캐러셀 smSlidesSideOffset이 제대로 적용되지 않는 걸 수정한다
  src/components/Carousel/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

chore: v9.0.0-rc21
  package.json
Due: none

fix(ui): DatePicker time에 form을 삭제한다
  src/formInputs/DatePicker/TimeSelector/Input/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix(ui): 이중함수 삭제
  src/formInputs/DatePicker/TimeSelector/Input/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix(ui): DatePicker의 Range 버그를 수정한다.
  src/formInputs/DatePicker/MonthCalendar/Day/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix(ui): DatePicker time에 form을 삭제한다 (#266)
  src/formInputs/DatePicker/TimeSelector/Input/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

Range 아닐경우 스타일이 찐빠나는 현상을 수정한다.
  src/formInputs/DatePicker/MonthCalendar/Day/index.tsx
  src/formInputs/DatePicker/MonthCalendar/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

타입찐빠 수정
  src/formInputs/DatePicker/MonthCalendar/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix(ui): DatePicker의 Range 버그를 수정한다. (#267)
  src/formInputs/DatePicker/MonthCalendar/Day/index.tsx
  src/formInputs/DatePicker/MonthCalendar/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

chore: svgr를 실행했을 때 함수형 컴포넌트들을 생성하도록 탬플릿을 수정한다
  src/Icon/.svgrrc
  src/Icon/README.md
  src/Icon/generate-exports.js
  src/Icon/svgr-cli.template.js
Due: prettier --write --loglevel warn

feat: Reply 컴포넌트를 완성한다
  docs/components/Comment.mdx
  docs/components/Reply.mdx
  src/components/Badge/index.tsx
  src/components/Reply/Action/index.tsx
  src/components/Reply/Content/index.tsx
  src/components/Reply/index.tsx
  src/components/index.ts
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix: 전체보기 버튼과 콘텐츠 사이의 공백을 제거한다
  src/components/Reply/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix: Badge의 사이즈가 숫자일때 패딩을 제거한다
  src/components/Badge/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix: import 경로를 상대 경로로 수정하고, 필요 없는 코드를 제거한다.
  src/components/Reply/Action/index.tsx
  src/components/Reply/Content/index.tsx
  src/components/Reply/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix: 리뷰를 반영한다
  src/components/Reply/Action/index.tsx
  src/components/Reply/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix(ui): Input의 Warning들을 제거한다.
  src/formInputs/Input/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

feat: Reply 컴포넌트 추가 (#269)
  docs/components/Comment.mdx
  docs/components/Reply.mdx
  src/components/Badge/index.tsx
  src/components/Reply/Action/index.tsx
  src/components/Reply/Content/index.tsx
  src/components/Reply/index.tsx
  src/components/index.ts
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix(ui): Input의 Warning들을 제거한다. (#270)
  src/formInputs/Input/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix
