Repository pedaling/class101-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --loglevel warn, tslint --fix, eslint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,css,scss,md}": [
      "prettier --write --loglevel warn",
      "git add"
    ],
    "*.{ts,tsx}": [
      "tslint --fix",
      "eslint --fix",
      "git add"
    ]
}

chore: babel-plugin-styled-components를 적용한다
  .babelrc
  package.json
  yarn.lock
Due: none

chore: class101/ui 9.0.0-rc28
  package.json
Due: none

feat: class101-ui 컴포넌트들이 data-element-name을 props로 받을 수 있게 변경한다
  package.json
  src/components/Avatar/index.tsx
  src/components/Badge/index.tsx
  src/components/Button/AnchorButtonBase/index.tsx
  src/components/Button/ButtonBase/index.tsx
  src/components/ButtonGroup/index.tsx
  src/components/Callout/component/index.tsx
  src/components/Callout/interface.ts
  src/components/Card/index.tsx
  src/components/Carousel/index.tsx
  src/components/Comment/index.tsx
  src/components/Navigation/index.tsx
  src/components/Pagination/index.tsx
  src/components/ProgressBar/index.tsx
  src/components/ProgressState/index.tsx
  src/components/Reply/index.tsx
  src/components/Skeleton/Skeleton.tsx
  src/components/Spinner/index.tsx
  src/components/Swiper/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

feat: core, layout 컴포넌트들이 data-element-name을 props로 받을 수 있게 변경한다
  package.json
  src/components/Swiper/index.tsx
  src/components/Tabs/index.tsx
  src/components/Tag/index.tsx
  src/core/Link/index.tsx
  src/core/Typography/BaseTypography/index.tsx
  src/interfaces/props.ts
  src/layout/Divider/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

chore: class101/ui 9.0.0-rc29
  package.json
Due: none

fix: Callout컴포넌트의 디스크립션이 없는 경우의 스타일을 수정한다
  docs/components/Callout.mdx
  src/components/Callout/component/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix(ui): OverraidPortal이 ssr에서 랜더링이 잘못되는 이슈를 수정한다
  src/overlays/OverlaidPortal/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix: DatePicker 컴포넌트를 엔터키로 입력할수 있게 한다. (#289)
  src/formInputs/DatePicker/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix: Calendar 버튼의 오타를 수정한다
  src/Icon/generated/Calendar.tsx
  src/Icon/index.ts
  src/Icon/svgs/Calendar.svg
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix: Icon README 파일에 오타를 수정한다
  src/Icon/README.md
Due: prettier --write --loglevel warn

fix: Calendar 버튼의 오타를 수정한다 (#296)
  src/Icon/generated/Calendar.tsx
  src/Icon/index.ts
  src/Icon/svgs/Calendar.svg
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix: Icon README 파일에 오타를 수정한다 (#297)
  src/Icon/README.md
Due: prettier --write --loglevel warn

chore: v9.0.0-rc30
  package.json
Due: none

fix: TabItem 컴포넌트에 className props 추가
  src/components/Tabs/TabItem.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix: TabItem 컴포넌트에 className props 추가 (#298)
  src/components/Tabs/TabItem.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

9.0.0-rc31-test0
  package.json
Due: none

chore: v9.0.0-rc31
  package.json
Due: none

fix: 네비게이션 메뉴 스타일을 수정한다
  src/components/Navigation/NavigationSection/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

chore: v9.0.0-rc32
  package.json
Due: none

fix: Select 크기가 고정되어있던 것을 수정한다.
  src/formInputs/Select/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix: Select 의 크기가 sm 일때 짤리던 것을 수정한다.
  src/formInputs/Select/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

chore: v9.0.0-rc33
  package.json
Due: none

docs: 카피라이트 연도와 옛날 URL을 수정한다
  README.md
Due: prettier --write --loglevel warn

chore: tslint를 걷어내고 eslint를 적용한다.
  package.json
  tslint.json
  yarn.lock
Due: none

chore: lintstaged 설정에서 tslint를 걷어낸다.
  .lintstagedrc
Due: none

feat: TagInput, Tag에서 disabled인 상태이면 CloseButton을 안 보이도록 한다.
  src/components/Tag/index.tsx
  src/formInputs/TagInput/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

chore: eslint를 걷어내고 tslint를 적용한다. (#302)
  .lintstagedrc
  package.json
  tslint.json
  yarn.lock
Due: none

feat: TagInput, Tag에서 disabled인 상태이면 CloseButton을 안 보이도록 한다. (#303)
  src/components/Tag/index.tsx
  src/formInputs/TagInput/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix(ui): 영미권에서 break-all 속성으로 글자가 부자연스러운 현상을 해결한다
  src/overlays/ModalBottomSheet/ModalBottomSheet.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix(ui): 영미권에서 break-all 속성으로 글자가 부자연스러운 현상을 해결한다 (#304)
  src/overlays/ModalBottomSheet/ModalBottomSheet.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix: TagInput에서 disabled일때 CloseButton이 뜨던 버그를 수정한다.
  src/components/Tag/index.tsx
  src/formInputs/TagInput/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix: setState를 할때 updater를 이용한다
  src/formInputs/TagInput/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix: 조건문을 예쁘게 정리한다.
  src/components/Tag/index.tsx
  src/formInputs/TagInput/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

fix: TagInput에서 disabled일때 CloseButton이 뜨던 버그를 수정한다. (#305)
  src/components/Tag/index.tsx
  src/formInputs/TagInput/index.tsx
Due: prettier --write --loglevel warn, tslint --fix, eslint --fix

chore: v9.0.0-rc35
  package.json
Due: none
